/.vs
/.idea
/bin-int
/bin

/SpicesGame/saved
/SpicesGame/DefaultLayout.ini

/Samples/Renderer/WhittedRT/saved
/Samples/Renderer/WhittedRT/DefaultLayout.ini

/Document/

*.user
*.sln
*.vcxproj
*.csproj
*.vcxproj.filters

*.json
*.json
*.log