/.vs
/.idea
/bin-int
/bin

/SpicesGame/saved
/SpicesGame/DefaultLayout.ini

/Samples/Renderer/WhittedRT/saved
/Samples/Renderer/WhittedRT/DefaultLayout.ini

/Document/html
/node_modules

*.user
*.sln
*.vcxproj
*.csproj
*.vcxproj.filters
*package-lock.json

/Samples/*.json
/SpicesEngine/*.json
/SpicesGame/*.json
/SpicesTest/*.json
*.log