[submodule "SpiecsEngine/vendor/imgui"]
	path = SpiecsEngine/vendor/imgui
	url = https://github.com/spiecs/imgui
[submodule "SpiecsEngine/vendor/GLFW"]
	path = SpiecsEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
