[submodule "SpicesEngine/vendor/GLFW"]
	path = SpicesEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "SpicesEngine/vendor/spdlog"]
	path = SpicesEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SpicesEngine/vendor/ImGuizmo"]
	path = SpicesEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "SpicesEngine/vendor/tracy"]
	path = SpicesEngine/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "SpicesEngine/vendor/IconFontCppHeaders"]
	path = SpicesEngine/vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "SpicesEngine/vendor/imgui"]
	path = SpicesEngine/vendor/imgui
	url = https://github.com/spices-lib/imgui
[submodule "SpicesEngine/vendor/yaml-cpp"]
	path = SpicesEngine/vendor/yaml-cpp
	url = https://github.com/spices-lib/yaml-cpp
[submodule "SpicesEngine/vendor/implot"]
	path = SpicesEngine/vendor/implot
	url = https://github.com/spices-lib/implot
[submodule "SpicesTest/vendor/googletest"]
	path = SpicesTest/vendor/googletest
	url = https://github.com/spices-lib/googletest
[submodule "SpicesEngine/vendor/glm"]
	path = SpicesEngine/vendor/glm
	url = https://github.com/spices-lib/glm
[submodule "SpicesEngine/vendor/taskflow"]
	path = SpicesEngine/vendor/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "SpicesEngine/vendor/meshoptimizer"]
	path = SpicesEngine/vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "SpicesEngine/vendor/VulkanMemoryAllocator"]
	path = SpicesEngine/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "SpicesEngine/vendor/GKlib"]
	path = SpicesEngine/vendor/GKlib
	url = https://github.com/spices-lib/GKlib.git
