[submodule "SpiecsEngine/vendor/imgui"]
	path = SpiecsEngine/vendor/imgui
	url = https://github.com/spiecs/imgui
[submodule "SpiecsEngine/vendor/GLFW"]
	path = SpiecsEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "SpiecsEngine/vendor/yaml-cpp"]
	path = SpiecsEngine/vendor/yaml-cpp
	url = https://github.com/spiecs/yaml-cpp
[submodule "SpiecsEngine/vendor/implot"]
	path = SpiecsEngine/vendor/implot
	url = https://github.com/spiecs/implot
[submodule "SpiecsEngine/vendor/spdlog"]
	path = SpiecsEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SpiecsTest/vendor/googletest"]
	path = SpiecsTest/vendor/googletest
	url = https://github.com/spiecs/googletest
[submodule "SpiecsEngine/vendor/glm"]
	path = SpiecsEngine/vendor/glm
	url = https://github.com/spiecs/glm
